@font-face {
    font-family: "Jakarta";
    src: url(../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Jakarta";
    src: url(../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf);
    font-weight: 500;
}