@import url(./main.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root{
    --blue: #755CDE;
    --yellow: #F6A560;
    --light-red: #F39E9E;
    --red: #EB7565;
    --light-blue: #61C4B7;
    --purple: #552049;
    --black: #030303;
    --gray: #7A746E;
    --white: #FFF7F0;
}
.btn{
    display: block;
    width: 228px;
    height: 56px;
    background-color: var(--black);
    text-align: center;
    font-family: "Jakarta";
    font-weight: 500;
    color: var(--white);
    padding-top: 17px;
    border-radius: 28px;
}
.header{
    width: 100%;
    height: auto;
}
.container{
    display: flex;
    width: 1500px;
    margin: auto;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
.main{
    font-family: "Jakarta";

}
.grid-container {
    display: grid;
    grid-template-areas: 
      "graphic-design ui-ux apps"
      "graphic-design photography photography"
      "illustrations illustrations motion-graphics";
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
    width: 1500px;
    margin: auto;
    height: 500px;
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
  }
  
  .graphic-design {
    grid-area: graphic-design;
    background-color: #6a5acd;
  }
  
  .ui-ux {
    grid-area: ui-ux;
    background-color: #f4a261;
  }
  
  .apps {
    grid-area: apps;
    background-color: #e76f51;
  }
  
  .photography {
    grid-area: photography;
    background-color: #2a9d8f;
  }
  
  .illustrations {
    grid-area: illustrations;
    background-color: #e63946;
  }
  
  .motion-graphics {
    grid-area: motion-graphics;
    background-color: #6d597a;
  }

  .main-headline{
    width: 752px;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 50px;
    height: 150px;
  }
  .main-head{
    font-size: 48px;
    text-align: center;
  }
  .main-text{
    width: 600px;
    text-align: center;
    text-align: justify;
   padding-left: 100px;
  }
  .portfolio-img{
    width: 500px;
    height: 500px;
    background-color: var(--blue);
    border-radius: 50%;
  }
  .box-portfolio{

    width: 100px;
    height: 100px;
    background-color: var(--blue);
  }
  .site-hero{
    display: flex;
    width: 1500px;
    margin: auto;
    padding-top: 50px;
    font-family: "Jakarta";
  }
  .about{
    padding-left: 20px;
    padding-top: 100px;
  }
  .about-head{
    text-align: center;
    font-size: 36px;
    width: 500px;
    padding-bottom: 20px;
  }
  .about-text{
    width: 500px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .portfolia-btn{
    background-color: var(--red);
  }
  .my-work{
    width: 1500px;
    margin: auto;
    padding-top: 50px;
  }
  .scrl{
    padding-top: 50px;
    padding-left: 600px;
  }
  .call{
    width: 1000px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--black);
    margin: auto;
    color: white;
    display: flex;
    font-family: "Jakarta";
  }
  .call-btn{
    background-color: var(--red);
    margin-top: 110px;
    margin-left: 100px;
  }
  .call-text{
    padding-top: 100px;
    padding-left: 50px;
  }
  .call-txt{
    width: 450px;
  }